@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ---------variables ------------ */
:root {
    /* colors */
    /* Primary */
    --color-Red: hsl(0, 100%, 74%);
    --color-Green: hsl(154, 59%, 51%);
    /* Accent */
    --color-Blue: hsl(248, 32%, 49%);
    --color-Soft-blue: hsl(240, 73%, 65%);
    /* Neutral */
    --color-Dark-blue: hsl(249, 10%, 26%);
    --color-Grayish-blue: hsl(246, 25%, 77%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Red);
    background-image: url('../images/bg-intro-desktop.png');
}

.container {
    display: flex;
    height: 600px;
    width: 1040px;
}

/* ----- Title and Text ----- */
.container--description {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container--description-title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-bottom: 1.6rem;
}

.container--description-text {
    font-weight: 400;
    font-size: 0.95rem;
}

/* ---- Form ---- */

.container--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.form--button--trial {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color-Blue);
    box-shadow: 1 px 5px 5px black;
    color: white;
    font-weight: 400;
}

.form--button--trial span {
    font-weight: 700;
}

.form--inputs {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding-top: 1rem;
    margin-top: 2rem;
}

.form--inputs input {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: solid var(--color-Grayish-blue) 1px;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 700;
}


.form--inputs input:focus {
    border: solid var(--color-Dark-blue) 0.5px;
}

.form--inputs p {
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form--inputs p span {
    color: var(--color-Red);
    font-weight: 700;
}

.form--button--submit {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    background-color: var(--color-Green);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.error {
    border: solid red 2px !important;
    color: darkblue;
}

.form--inputs .form--info  {
 margin: 0rem 2rem;
 color: var(--color-Red);
 font-style: italic;
 text-align: end;
}

.hide {
    display: none;
}